@import "tailwindcss";
@import "tw-animate-css";

.my-container {
    padding: 1.25rem 2.5rem;
    margin: 1.25rem;
}

.upward-shadow:hover {
    border: none;
    box-shadow: inset 0 0 15px 5px #18C0B8;
    background-color: #B7BABA;
    color: black;
}

.downward-shadow {
    box-shadow: inset 0 10px 15px #18C0B8;
}