@import "tailwindcss";
@import "tw-animate-css";

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    50% { opacity: 0; }
}

.typewriter {
    position: relative;
    width: 100%;
    font-family: monospace;
}

.typewriter::before {
    content: '';
    position: absolute;
    inset: 0;
    background: black;
    animation: typewriter 2s steps(287) forwards;
}


.typewriter::after {
    content: '|';
    position: absolute;
    left: 100%;
    animation: blink 1s step-end infinite;
}